altair
numpy
pandas
pydeck
streamlit==1.32.0
PyPDF2
pinecone-client==5.0.0
pinecone==4.0.0
openai==0.28
sendgrid
markdown
markdown
mistune
openpyxl
plotly
python-dotenv==1.0.1
langchain_community==0.4.2
langchain_text_splitters==1.1.2
